{% extends 'home/base.html' %}
{% load static %}


<head>
    {% block title %}
    <title>Blog</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
        {% block content %}
    
        <div class="row mentor-content">
             <div class="isi">
                 <div class="row">
                     <div class="col-md-12 text-center">
                         <h4>Our Mentee</h4>
                     </div>
                 </div>
                 <br>
                 <br>
    
             {% for data in mentees %}
         
             <div class="row">
                 <div class="col-md-4 text-center">
                     <img src="{{data.foto.url}}" alt="" class="blog-images">
                 </div>
                 <div class="col-md-8 mentor-ket">
                     <h5>{{data.nama_lengkap}}</h5>
                     <p>{{data.position}}</p>
                     <p>{{data.description}}</p>
                 </div>
             </div>
             <br>
         
             {% endfor %}
    
             </div>    
         </div>
         
         {% endblock %}
    </body>